
/* STATS*/

#idEstadistica{
    background: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#general{
    margin-top: 20px;

}
#statsPasados{
    margin-bottom: 20px;
}

table{
    width: 90%;
    height: auto;
    background: white;
    margin-bottom: 5px;
}

.color{
    
    background: -webkit-linear-gradient(right, rgba(116,18,203,1), rgba(230,46,131,1), rgba(116,18,203,1), rgba(230,46,131,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
   
}

.color th{
    font-size: 25px;
    font-weight: bolder;
}

td{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border: 3px solid transparent;
}

th{
    font-size: 18px;
    text-align: center;
    padding: 0px .5rem;
    border: 3px solid transparent;
    width: 33.3%;
}

.titulo-tabla{
    text-align: center;
}

.titulo-tabla th{
    font-weight: bolder;

    background-color: rgb(249, 56, 243);
}